
<h2>Register</h2>
<p>On this page you can register with our Barber Shop</p>

<form action="/visit" methods="POST">

  <div class="form-group">
    <label>Your name</label>
    <input name="username" type="text" class="form-control" placeholder="Enter your name">
  </div>


   <button type="submit" class="btn btn-primary">Register</button>

</form>
